<a href="https://colab.research.google.com/github/MDYeaminIslam/Codeforces-Solutions-Python/blob/Master/AI_lab_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*IF statement*

In [ ]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed

In [ ]:
grade=90
if grade>=90:
  print("A+")
else:
  print("Pass")

A+

***Conditional*** expression

In [2]:
grade = 80
result = ('Passed' if grade >= 60 else 'Failed')
print(result)

Passed

# **IF...elif....else statement**

In [ ]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

In [4]:
grade = 100
if grade<=78:
  print("A")
elif grade<90:
  print("A+")
elif grade>=100:
  print("A++")
else:
  print("Fail")

A++

While Statement

In [5]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

In [8]:
num =2
while(num<16):
  print(num,end=" ")
  num+=2

2 4 6 8 10 12 14

In [10]:
product = 3

while product<=50:
  product = product*3
  print(product)

9
27
81

For Loop Statement

In [11]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

In [12]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

In [13]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [14]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

In [15]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

In [16]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

*Number table print using range function*


---



---



Take an input from user and print the number table

In [17]:
number =  int(input())
for i in range(1,11):
  print(number,"X",i,"=",number*i)

5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [18]:
num = int(input())
for i in range(1,11):
  print(num,"X",i,"=",num*i)

7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

*Nested For Loop*


---

In [19]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

Break Statement

In [20]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

Continue Statement

In [21]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

***____Functions____***

In [22]:
#built-in function

print("Hi, I am semi-colon. Do you miss me?")
print("Let me know if you miss me or not. ")
s=input()

a=10
b=21
print(max(a,b))
print(min(a,b))

c=10.4
d=int(c)
print(d)

e="python"
print(type(e))

Hi, I am semi-colon. Do you miss me?
Let me know if you miss me or not.
9
21
10
10
<class 'str'>

In [23]:
#user defined function

def add(a, b):
    c=a+b
    return c

a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
d=add(a,b)
print("The sum is", d)

Enter a number: 5
Enter a number: 6
The sum is 11

In [24]:
def add(num1,num2):
  return num1+num2



num1 = int(input("Enter first number: "))
num2 = int(input("Enter Second number: "))
value = add(num1,num2)
print(value)

Enter first number: 10
Enter Second number: 10
20

In [25]:
#function with multiple parameters

def divisor(x,y,m):
    if x%m==0 and y%m==0:
        print("%d & %d are divisible by %d"%(x,y,m))
    elif x%m==0:
        print("only %d is divisible by %d"%(x,m))
    elif y%m==0:
        print("only %d is divisible by %d"%(y,m))
    else:
        print("none of %d & %d is divisible by %d"%(x,y,d))

divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

10 & 20 are divisible by 5
only 20 is divisible by 5
only 10 is divisible by 5
none of 2 & 5 is divisible by 11

In [26]:
#function without parameter

def summation():
    a=3+8
    return a

b=summation()
print(b)

11

In [27]:
#function with default parameter value

def check(a=0):
    if a==0:
        print("Zero")
    elif a>0:
        print("Positive")
    else:
        print("Negative")

check()     #without parameter
check(-4)   #with parameter

Zero
Negative

In [29]:
#local scope

def local_scope():
    x=7
    print(x)

local_scope()

7

In [30]:
#global scope

x=10

def global_scope():
    print(x)

print(x)
global_scope()

10
10

In [31]:
#python standard library
#csv module

import csv

with open('test.csv', newline='') as csvfile:
    tmp = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in tmp:
        print(', '.join(row))

FileNotFoundError: ignored

In [32]:
#python standard library
#math module

import math

print(math.pi)          #value of pi

x=9.2
print(math.ceil(x))     #round to the smallest integer not less than x
print(math.floor(x))    #rount to the largest integer not greater than x

print(math.sin(78))     #trigonometric sine of x (x in radians)

print(math.pow(2,3))    #2 to the power 3

print(math.sqrt(16))    #square root of 16

3.141592653589793
10
9
0.5139784559875352
8.0
4.0